<div class="container">
<h1>URL List</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Description</th>
    <th scope="col">Short Url</th>
    <th scope="col">Long Url</th>
    <th scope="col">Image</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.id %></td>
      <td><%= url.description %></td>
      <td><%= link_to "#{@domain}/#{url.short_url}", url.short_url %></td>
      <td><%= url.long_url %></td>
      <td><%= image_tag "#{@domain}/#{url.image.url}" if url.image? %></td>
      <td><%= link_to "Edit" ,edit_url_path(url), class:'btn btn-primary'if url.user == current_user %></td>
      <td><%= form_for url, url: url_path(url), method: :delete do |f| %>
          <%= f.submit 'Delete', class:'btn btn-danger'if url.user == current_user %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New', new_url_path, class: 'btn btn-success'  %>
<%= button_to "Logout", destroy_user_session_path,:method => :delete, class: 'btn btn-dark'%>
<%= paginate @urls %>
</div>