<h1>URL List</h1>

<% @url.each do |url| %>
  <ul>
    <li>Id:<%= url.id %></li>
    <li>Description:<%= url.description %></li>
    <li>Short URL:<%= link_to "#{@domain}/#{url.short_url}", url.short_url %></li>
    <li>long url:<%= url.long_url %></li>

  <li>
    <%= link_to "edit this url #{url.id}", edit_url_path(url) if url.user == current_user %>
    <%= form_for url, url: url_path(url), method: :delete do |f| %>
      <%= f.submit 'delete' %>
    <% end %>
  </li>

  </ul>
<% end %>

<%= link_to 'New', new_url_path %>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>